TEST=<True/ for your db config> or <False/ for sqlite>

SECRET_KEY=<django secret key>

POSTGRES_DB=<database name>
POSTGRES_USER=<your psql db name>
POSTGRES_PASSWORD=<your psql db passwd>
POSTGRES_HOST=<database host (default for local 127.0.0.1)>
POSTGRES_PORT=<database running port (default psql 5432)>
